.App {
  text-align: center;
}

/* CardDetails.css */
.card-details-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5%;
}

.prev-button,
.next-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.card-details {
  flex: 1;
  text-align: center;
}
